body {
     background-color:rgb(219, 148, 196)
    }


h1 {color:rgb(75, 4, 40)}

h2 {color:rgb(218, 22, 120)}

h1 {text-align: center;}

h2 {text-align: center;}

ul {
    display: table;
    margin: 0 auto;
    color:rgb(97, 1, 60)
   }

img {
    border: 5px solid rgb(245, 26, 161);
     text-align: right;
     border-radius:20px;
    border: image 12px solid rgb(202, 157, 165);
    }
